<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<array>
		<string/>
	</array>
	<key>CFBundleDisplayName</key>
	<string>DatingApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>TopTier Dating App use camera for a click photo.</string>
	<key> NSLocationWhenInUseUsageDescription</key>
	<string>TopTier Dating app using current location to get near by another users.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>TopTier Dating app using current location to get near by another users.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>TopTier Dating app using microphone to call.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TopTier Dating App use gallery for a pick photo.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sansation-Italic.ttf</string>
		<string>Sansation-Light.ttf</string>
		<string>Sansation-Light-Italic.ttf</string>
		<string>PassionOne-Black.ttf</string>
		<string>PassionOne-Regular.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>Ionicons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Entypo.ttf</string>
		<string>AntDesign.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>Sansation-Bold.ttf</string>
		<string>Sansation-Bold-Italic.ttf</string>
		<string>Sansation-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
